.main {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* https://github.com/xyflow/xyflow/discussions/3498#discussioncomment-7263647 */
  z-index: 1;
  /* From figma */
  width: 20px;
  height: 20px;
  border: 1px solid rgba(48, 48, 54, 0.6);
  background-color: rgba(29, 29, 32, 1);
}

.zIndex1 {
  /* https://github.com/xyflow/xyflow/discussions/3498#discussioncomment-7263647 */
  z-index: 1;
}

.zIndex2 {
  z-index: 2;
}

.icon {
  &:hover {
    cursor: pointer;
  }
}

.diagnose {
  color: red;
  font-size: 8px;
}
