.unified-pipeline-studio_card-wrapper::after {
  pointer-events: none;
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 6px;
  background: conic-gradient(
    from var(--angle),
    var(--canary-graph-gradient-executing-1),
    var(--canary-graph-gradient-executing-2),
    var(--canary-graph-gradient-executing-2),
    var(--canary-graph-gradient-executing-1)
  );
  animation: rotate 3.5s linear infinite;
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  padding: 1px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
