# Global configs
.github/ @abhinavrastogi-harness @knagurski @vardanbansal-harness
.eslintrc.js @abhinavrastogi-harness @knagurski @vardanbansal-harness
.prettierrc.yml @abhinavrastogi-harness @knagurski @vardanbansal-harness

# Common ownership for shared config files
/packages/*/package.json @abhinavrastogi-harness @knagurski @vardanbansal-harness
/apps/*/package.json @abhinavrastogi-harness @knagurski @vardanbansal-harness
/packages/*/vite.config.ts @abhinavrastogi-harness @knagurski @vardanbansal-harness
/apps/*/vite.config.ts @abhinavrastogi-harness @knagurski @vardanbansal-harness

# Apps
/apps/gitness/* @abhinavrastogi-harness @vardanbansal-harness
/apps/portal/* @knagurski

# Packages with shared ownership
/packages/ui/* @abhinavrastogi-harness @knagurski @vardanbansal-harness

# Packages with individual owners
/packages/forms/* @srdjan-harness
/packages/unified-pipeline/* @srdjan-harness
/packages/yaml-editor/* @srdjan-harness
/packages/core-design-system/* @praneshg239
