.main {
  height: 100%;
  width: 100%;
}

.canvas {
  height: inherit;
  width: inherit;
}

.canvasContainer {
  background-image: url('../../assets/bg.png');
  background-size: auto; /* Adjust as needed */
  background-repeat: repeat;
  background-position: center center;
}

.edge {
  > path {
    stroke: rgba(109, 107, 117, 1);
  }
}
