.main {
  border-top: 1px solid #1d1d20;
  background: #0f0f11;
  height: 38px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--grey-60, #93939f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */

  padding: 0 15px;
}

.focus {
  color: var(--white, #fff);
}

.counts {
  display: flex;
}

.gitDetails {
  display: flex;
  margin-left: 20px;
}

.commitHistory {
  display: flex;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.flexBaseline {
  display: flex;
  align-items: baseline;
}

.spacing {
  margin-left: 10px;
  margin-right: 10px;
}

.marginLeft25 {
  margin-left: 25px;
}

.marginLeft10 {
  margin-left: 10px;
}
