---
import { Card, CopyButton, Icon, IconNameMap } from "@harnessio/ui/components";
---

<div
  class="not-content grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-2"
>
  {
    Object.keys(IconNameMap).map((name) => {
      return (
        <Card.Root size="sm">
          <Card.Content className="border-b text-cn-foreground text-center">
            <Icon
              name={name as keyof typeof IconNameMap}
              className="aspect-square h-full w-full p-[2em]"
            />
          </Card.Content>
          <Card.Title
            as="h6"
            className="text-2 truncate font-mono text-center mx-4 my-2"
          >
            {name}
          </Card.Title>
          <div class="flex justify-center m-2">
            <CopyButton name={name} client:only />
          </div>
        </Card.Root>
      );
    })
  }
</div>
