.icons-container {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --box-size: 140px;
  --icon-gap: 30px;
}

.iconset-list > div {
  display: flex;
  flex-grow: 1;
  gap: var(--icon-gap);
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-content: flex-start;
}

details summary {
  list-style: none;
  cursor: pointer;
}

details.settings-container[open] summary::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.005);
  cursor: default !important;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
}

details.settings-container {
  position: relative;
}

details.settings-container > summary {
  line-height: 0;
  color: #9a9a9a;
  cursor: default;
}

details.settings-container > summary .settings-icon {
  padding: 4px;
  cursor: pointer;
}

details.settings-container > summary:hover,
details.settings-container[open] > summary {
  color: #0092e4;
}

details.settings-container > summary:hover svg-icon,
details.settings-container[open] > summary svg-icon {
  animation: rotating 10s linear infinite;
}

.page-header {
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ecf0f4;
  z-index: 1;
}

.dark .page-header {
  background: black; 
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-container input[type='search'] {
  margin: 15px;
  height: 48px;
  font-size: 16px;
  border-radius: 12px;
  padding: 0 20px;
  text-align: left;
  display: block;
  box-sizing: border-box;
  width: 400px;
  min-height: 35px;
  background: white;
  color: black;
  border: solid 1px #0278d5;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 25px;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}

label > input,
label > select {
  width: 80px;
  height: 24px;
  padding: 0 4px;
  display: inline-block;
}

label {
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 30px;
}

.box {
  width: var(--box-size);
  height: var(--box-size);
  border: solid 1px #ecf0f4;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
}

.box:not(.no-hover):hover {
  border-color: #0092e4;
  cursor: pointer;
}

.icon-name {
  width: var(--box-size);
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-mono);
}

.dark .icon-name {
  color: white;  
}

dialog {
  border: none;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
  min-width: 400px;
  max-height: 80vh;
  padding: 30px;
  /* position: relative; */
}

dialog > div {
  background: white;
  padding: 25px 0 0;
}

dialog button.close {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: rgb(38, 38, 38);
  border-radius: 50%;
  display: inline-block;
  line-height: 0;
  padding: 3px;
  position: absolute;
  right: 15px;
  top: 15px;
}

dialog button.close:hover {
  background-color: #ecf0f4;
}

.dialog-header {
  display: flex;
  gap: 1ch;
  align-items: center;
}

.dialog-header h5 {
  margin: 0;
  font-size: 20px;
  font-variation-settings: normal;
  font-weight: 500;
}

.dialog-main {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.dialog-main .settings {
  position: static;
  filter: none;
  padding: 0;
  gap: 10px;
  width: 100%;
}

.icon-settings {
  --grid-size: 256px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.icon-settings .box {
  width: var(--grid-size);
  height: var(--grid-size);
  position: relative;
  border: none;
}

.expander {
  flex-grow: 1;
}

.grid {
  width: var(--grid-size);
  height: var(--grid-size);
  position: absolute;
}

.grid svg {
  width: calc(var(--grid-size) + 1px);
  height: calc(var(--grid-size) + 1px);
}

.markdown {
  overflow: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}

.download {
  text-decoration: none;
  display: inline-flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: #0278d5;
  border: 1px solid #0278d5;
  padding: 5px 15px 5px 10px;
  border-radius: 5px;
  gap: 6px;
  font-weight: 500;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
