@import '@harnessio/canary';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --studio-1: 29, 29, 32;
  --studio-2: 147, 147, 159;
  --studio-3: 226, 155, 54;
  --studio-4: 48, 48, 54;
  --studio-5: 48, 51, 54;
  --studio-6: 15, 16, 17;
  --studio-7: 228, 228, 231;
  --studio-8: 174, 174, 183;
  --studio-node-border-selected: 228, 228, 231;
}

@layer utilities {
  .gradient-border-gray {
    @apply bg-transparent; /* Base background if needed */
    background-image: linear-gradient(0deg, rgba(48, 48, 54, 0.6), rgba(48, 48, 54, 0.6)),
      radial-gradient(88.57% 100% at 14.29% 0%, rgba(255, 255, 255, 0.2) 14.38%, rgba(255, 255, 255, 0) 76.87%);

    .content-layer {
      @apply bg-transparent; /* Base background if needed */
      background-image: radial-gradient(
          88.57% 100% at 14.29% 0%,
          rgba(255, 255, 255, 0.04) 10.62%,
          rgba(255, 255, 255, 0) 75.86%
        ),
        #1d1d20;
    }
  }

  .gradient-border-glow {
    @apply bg-transparent; /* Base background if needed */
    background-image: linear-gradient(0deg, rgba(48, 48, 54, 0.6), rgba(48, 48, 54, 0.6)),
      linear-gradient(108.08deg, #b1cbff 0%, rgba(177, 203, 255, 0.2) 30%, rgba(177, 203, 255, 0.2) 80%, #b1cbff 100%);

    .gradient-border-glow .content-layer {
      @apply bg-transparent; /* Base background if needed */
      background-color: #131316;
    }
  }

  .edge path {
    stroke: rgba(109, 107, 117, 1);
  }

  /* Prefering base-64 encoded image here to avoid fetching from a file path */
  .canvas-container {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQQAAAEECAYAAADOCEoKAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF6SURBVHgB7d25DYBAFEPBL2rZhP4LBBHinEPWjOT4leAZAAAAAAAAAAAAAACAH1trP67Nw3R0dN7vbAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAnYcbHZ3ejucmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgOThRkent+O5CQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACB5uNHR6e14bgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIHm50dHo7npsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkocbHZ3ejucmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgOThRkent+O5CQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACB5uNHR6e14bgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIHm50dHo7npsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkocbHZ3ejucmAAAAAAAAAAAAAAAA4BMn1h8fpFK96pEAAAAASUVORK5CYII=');
    background-size: auto; /* Adjust as needed */
    background-repeat: repeat;
    background-position: center center;
  }
}
