.viewSettings {
  position: fixed;
  z-index: 20;
  bottom: 0.5rem;
  right: 0.5rem;

  &[data-show='show'] {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cn-border-2);
    border-radius: 0.25rem;
    padding: 1rem;
    width: 20rem;
    background: var(--cn-bg-1);
  }
}

.showHideButton {
  gap: 0.5rem;
  align-self: flex-end;
}
