/**
    * Harness Design System
    * Main stylesheet importing all token files
    * DO NOT UPDATE IT MANUALLY
    * Generated on Wed, 19 Mar 2025 07:16:02 GMT
    */

/* Theme files - Dark */
@import './dark-deuteranopia-gitness.css';
@import './dark-dimmer-deuteranopia-gitness.css';
@import './dark-dimmer-gitness.css';
@import './dark-dimmer-protanopia-gitness.css';
@import './dark-dimmer-tritanopia-gitness.css';
@import './dark-gitness.css';
@import './dark-high-contrast-deuteranopia-gitness.css';
@import './dark-high-contrast-gitness.css';
@import './dark-high-contrast-protanopia-gitness.css';
@import './dark-high-contrast-tritanopia-gitness.css';
@import './dark-protanopia-gitness.css';
@import './dark-tritanopia-gitness.css';

/* Theme files - Light */
@import './light-deuteranopia-gitness.css';
@import './light-dimmer-deuteranopia-gitness.css';
@import './light-dimmer-gitness.css';
@import './light-dimmer-protanopia-gitness.css';
@import './light-dimmer-tritanopia-gitness.css';
@import './light-gitness.css';
@import './light-high-contrast-deuteranopia-gitness.css';
@import './light-high-contrast-gitness.css';
@import './light-high-contrast-protanopia-gitness.css';
@import './light-high-contrast-tritanopia-gitness.css';
@import './light-protanopia-gitness.css';
@import './light-tritanopia-gitness.css';