---
import Search from "@astrojs/starlight/components/Search.astro";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import HeaderActions from "./HeaderActions.astro";
import Sidebar from "@astrojs/starlight/components/Sidebar.astro";
import PageSidebar from "@astrojs/starlight/components/PageSidebar.astro";
---

<div
  class="grid min-h-screen grid-rows-[64px_auto_1fr] grid-cols-[auto_220px_minmax(720px,1028px)_220px_auto] items-start bg-cn-background"
>
  <!-- Header: Site Title -->
  <div
    class="flex col-start-2 row-start-1 h-full w-full border-l border-cn-borders-3 sticky top-0 z-10 bg-cn-background place-items-center px-5"
  >
    <SiteTitle />
  </div>

  <!-- Header: Search and Theme Selector -->
  <div
    class="flex col-start-3 col-span-2 row-start-1 h-full w-full border-l border-cn-borders-3 items-center justify-between px-6 sticky top-0 z-10 bg-cn-background"
  >
    <Search />
    <HeaderActions />
  </div>

  <!-- Divider below header -->
  <div
    class="border-b border-cn-borders-3 h-[1px] row-start-2 col-span-full sticky top-[64px] z-10 bg-cn-background"
  >
  </div>

  <!-- Sidebar Navigation -->
  <nav
    class="flex col-start-2 row-start-3 w-full border-l border-cn-borders-3 sticky top-[65px] h-[calc(100vh-65px)] overflow-y-auto"
  >
    <Sidebar />
  </nav>

  <!-- Main Content -->
  <div
    class="flex col-start-3 row-start-3 h-full w-full border-l border-cn-borders-3 justify-center px-12"
  >
    <slot />
  </div>

  <!-- Additional Sidebar -->
  <div
    class="flex col-start-4 row-start-3 h-[calc(100vh-65px)] w-full sticky top-[65px]"
  >
    <PageSidebar />
  </div>

  <!-- Spacer Column -->
  <div class="flex col-start-5 row-start-3 h-full w-full"></div>
</div>
