---
import { Button, ButtonGroup, Icon } from "@harnessio/ui/components";
import ThemeSelect from "./ThemeSelect.astro";
---

<ButtonGroup spacing="8">
  <ThemeSelect />
  <Button
    variant="ghost"
    className="text-cn-foreground-1 p-0 hover:bg-transparent hover:text-cn-foreground-primary"
  >
    Blog
  </Button>
  <Button variant="ghost" iconOnly>
    <Icon name="environment" size={16} />
  </Button>
</ButtonGroup>
