---
import { Button, ButtonGroup, Icon } from "@harnessio/ui/components";
---

<ButtonGroup spacing="8">
  <Button
    variant="ghost"
    className="text-cn-foreground-1 p-0 hover:bg-transparent hover:text-cn-foreground-primary"
  >
    Blog
  </Button>
  <Button
    variant="ghost"
    size="icon"
    className="text-cn-foreground-1 p-0 hover:bg-transparent hover:text-cn-foreground-primary"
  >
    <Icon name="environment" size={16} />
  </Button>
</ButtonGroup>
