---
import { StatusBadge } from "@harnessio/ui/components";
---

<div class="flex items-center gap-2">
  <h1 id="_top">{Astro.locals.starlightRoute.entry.data.title}</h1>
  {
    Astro.locals.starlightRoute.entry.data.beta && (
      <StatusBadge variant="outline" theme="info" size="sm">
        beta
      </StatusBadge>
    )
  }
</div>
