:root {
  --icon-size: 24px;
}

.main {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  background: rgba(15, 16, 17, 1);
  border: 1px dashed rgba(48, 51, 54, 1);
  padding: var(--spacing-small) !important;
  border-radius: 8px;
}

.collapsed {
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
}

.icon {
  background: rgba(147, 147, 159, 0.1);
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 4px;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.label {
  color: rgba(174, 174, 183, 1);
  font-size: 12px;
  text-wrap: nowrap;
}

.count {
  font-size: 12px;
  color: rgba(147, 147, 159, 1);
}

.tools {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 0 var(--spacing-small);
  box-sizing: border-box;
  align-items: center;
}

.plus {
  border-radius: 50%;
  /*figma */
  width: var(--icon-size);
  height: var(--icon-size);
  border: 1px solid rgba(48, 48, 54, 0.6);
  background-color: rgba(29, 29, 32, 1);
  color: rgba(228, 228, 231, 1);
  cursor: pointer;
  transform: translate(0, var(--icon-size));
  opacity: 0;
}

.show {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.diagnose {
  color: red;
  font-size: 16px;
}

.addStep {
  color: rgba(147, 147, 159, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
}

/** @TODO
* Move to node utils insteas 
*/
.zeroState {
  width: 337px;
  height: 77px;
}
