body,
.harness-light {
  --main-bg-color: white;

  /* monaco light */
  --monaco-background: #55dd55;
  --monaco-text-foreground: green;
  --monaco-text-style: italic;
  --monaco-background: #a4c6e8;
}

.harness-dark {
  --main-bg-color: black;

  /* monaco dark */
  --monaco-background: 240, 12.9%, 3.1%;
  --monaco-text-foreground: 100 10% 48%;
  --monaco-text-style: normal;
}

.App {
  height: 100vh;
  font-family: Inter;
  background-color: var(--main-bg-color);
}

/* TODO: overrides */
.monaco-editor .line-numbers {
  --vscode-editorLineNumber-foreground: #303036;
}

.monaco-editor .lines-content .core-guide-indent {
  --indent-color: transparent !important;
  --indent-color-active: transparent !important;
}
