@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 600; /* Supports weights from 300 to 600 */
  src: url('/fonts/InterVariable.ttf') format('truetype');
}

:root {
  /* PP Figma shades */
  --black: 240 10% 3%;
  --grey-6: 240 8% 6%;
  --grey-8: 240 7% 8%;
  --grey-10: 240 6% 10%;
  --grey-12: 240 6% 12%;
  --grey-15: 240 6% 15%;
  --grey-20: 240 6% 20%;
  --grey-30: 240 6% 30%;
  --grey-40: 240 6% 40%;
  --grey-50: 240 6% 50%;
  --grey-60: 240 6% 60%;
  --grey-70: 240 6% 70%;
  --grey-80: 240 6% 80%;
  --grey-90: 240 6% 90%;
  --grey-94: 240 6% 94%;
  --grey-98: 240 6% 98%;
  --white: 0 0% 100%;

  /* PP Figma secondary colors */
  --mint: 175 60% 65%;
  --blue: 216 80% 65%;
  --orange: 35, 75%, 55%;
  --purple: 275, 60%, 75%;
  --green: 150, 75%, 65%;
  --red: 0, 80%, 65%;
}

@layer themes {
  /* TODO: replace hsl with variables for theming */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: var(--black);
    --primary-background: var(--white);
    --primary-foreground: var(--grey-98);
    --primary-muted: var(--grey-60);
    --primary-accent: 216 100% 60%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-background: 0 0% 100%;
    --secondary-muted: var(--grey-40);
    --tertiary: 240 4.8% 95.9%;
    --tertiary-foreground: 240 5.9% 10%;
    --tertiary-background: 240 6% 60%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --border-background: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --input-background: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --success: var(--green);
    --error: var(--red);
    --warning: var(--orange);
    --emphasis: var(--emphasis);
    --ai: var(--purple);
    --ai-button-stop-1: 36 60% 95%;
    --ai-button-stop-2: 335 58% 76%;
    --ai-button-stop-3: 246 66% 72%;
    --ai-button-stop-4: 188 97% 89%;
    --diff-grey: hsl(0, 0%, 33%);
    --diff-add-content--: hsl(156, 28%, 10%);
    --diff-del-content--: hsl(356, 28%, 11%);
    --diff-add-lineNumber--: hsl(153, 40%, 14%);
    --diff-del-lineNumber--: hsl(358, 39%, 17%);
    --diff-plain-content--: var(--background);
    --diff-expand-content--: var(--background);
    --diff-plain-lineNumber--: var(--background);
    --diff-plain-lineNumber-color--: hsl(0, 0%, 100%);
    --diff-hunk-content--: hsl(218, 26%, 12%);
    --diff-hunk-lineNumber--: hsl(218, 26%, 12%);
    --diff-add-content-highlight--: hsl(152, 37%, 24%);
    --diff-del-content-highlight--: hsl(0, 38%, 26%);
    --diff-add-widget--: hsl(216, 80%, 65%);
    --diff-add-widget-color--: hsl(0, 0%, 100%);
    --diff-empty-content--: var(--background);
    --diff-hunk-content-color--: hsl(0, 0%, 100%);
  }

  .dark {
    --background: var(--grey-6);
    --foreground: var(--grey-94);
    --card: var(--grey-10);
    --card-foreground: var(--white);
    --popover: var(--grey-10);
    --popover-foreground: var(--white);
    --primary: var(--white);
    --primary-background: var(--black);
    --primary-foreground: var(--grey-10);
    --primary-muted: var(--grey-70);
    --primary-accent: 216 100% 60%;
    --secondary: var(--grey-15);
    --secondary-foreground: var(--white);
    --secondary-background: var(--grey-6);
    --secondary-muted: var(--grey-40);
    --tertiary: var(--grey-12);
    --tertiary-foreground: var(--white);
    --tertiary-background: var(--grey-60);
    --muted: var(--grey-15);
    --muted-foreground: var(--grey-60);
    --accent: var(--grey-15);
    --accent-foreground: var(--white);
    --destructive: var(--red);
    --destructive-foreground: var(--white);
    --border: var(--grey-15);
    --border-background: var(--grey-10);
    --input: var(--grey-15);
    --input-background: var(--grey-10);
    --ring: var(--grey-80);
    --success: var(--green);
    --error: var(--red);
    --warning: var(--orange);
    --emphasis: var(--purple);
    --ai: var(--purple);
    --ai-button-stop-1: 36 60% 95%;
    --ai-button-stop-2: 335 58% 76%;
    --ai-button-stop-3: 246 66% 72%;
    --ai-button-stop-4: 188 97% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply text-base antialiased;
  }

  body {
    @apply bg-background text-foreground text-sm font-normal;
  }
}

/* Text utilities */
.text-radial-gradient {
  /* remove hardcode colors */
  @apply bg-gradient-radial text-primary/70 from-[#CA9AF4]/70 to-[#CA9AF4]/0 bg-clip-text;
}

/* Card utilities */
.card-auth {
  @apply w-[362px] border-none;
}
.card-auth-header {
  @apply space-x-0 space-y-0 p-0;
}
.card-auth-content {
  @apply w-full py-6;
}

/* Form utilities */
.text-form-error {
  @apply text-destructive mt-2 text-xs font-light;
}
.form-input {
  @apply border-primary/10 bg-primary/5 mt-1 w-full rounded-[4px] text-sm font-light;
  @apply placeholder:text-primary/50 !important;
}

/* Temporary studio controls override */
.react-flow__panel {
  @apply left-auto right-0 m-6 flex gap-[1px] !important;
}
.react-flow__controls-button {
  @apply rounded-md invert !important;
}

.diff-widget-tooltip:hover::before {
  display: block;
}

.diff-widget-tooltip:hover::after {
  display: block;
}

.diff-tailwindcss-wrapper .invisible {
  visibility: hidden;
}
.diff-tailwindcss-wrapper .group:hover .group-hover\:visible {
  visibility: visible;
}
.diff-tailwindcss-wrapper .sticky {
  position: sticky;
}
.diff-tailwindcss-wrapper .left-0 {
  left: 0;
}
.diff-tailwindcss-wrapper .left-\[100\%\] {
  left: 100%;
}
.diff-tailwindcss-wrapper .right-\[100\%\] {
  right: 100%;
}
.diff-tailwindcss-wrapper .top-0 {
  top: 0;
}
.diff-tailwindcss-wrapper .top-\[1px\] {
  top: 1px;
}
.diff-tailwindcss-wrapper .top-\[50\%\] {
  top: 50%;
}
.diff-tailwindcss-wrapper .z-\[1\] {
  z-index: 1;
}
.diff-tailwindcss-wrapper .ml-\[-1\.5em\] {
  margin-left: -1.5em;
}
.diff-tailwindcss-wrapper .block {
  display: block;
}
.diff-tailwindcss-wrapper .inline-block {
  display: inline-block;
}
.diff-tailwindcss-wrapper .flex {
  display: flex;
}
.diff-tailwindcss-wrapper .table {
  display: table;
}
.diff-tailwindcss-wrapper .hidden {
  display: none;
}
.diff-tailwindcss-wrapper .h-\[50\%\] {
  height: 50%;
}
.diff-tailwindcss-wrapper .h-full {
  height: 100%;
}
.diff-tailwindcss-wrapper .min-h-\[28px\] {
  min-height: 28px;
}
.diff-tailwindcss-wrapper .w-\[1\%\] {
  width: 1%;
}
.diff-tailwindcss-wrapper .w-\[1\.5em\] {
  width: 1.5em;
}
.diff-tailwindcss-wrapper .w-\[1\.5px\] {
  width: 1.5px;
}
.diff-tailwindcss-wrapper .w-\[10px\] {
  width: 10px;
}
.diff-tailwindcss-wrapper .w-\[1px\] {
  width: 1px;
}
.diff-tailwindcss-wrapper .w-\[50\%\] {
  width: 50%;
}
.diff-tailwindcss-wrapper .w-full {
  width: 100%;
}
.diff-tailwindcss-wrapper .w-max {
  width: -moz-max-content;
  width: max-content;
}
.diff-tailwindcss-wrapper .min-w-\[100px\] {
  min-width: 100px;
}
.diff-tailwindcss-wrapper .min-w-\[40px\] {
  min-width: 40px;
}
.diff-tailwindcss-wrapper .min-w-full {
  min-width: 100%;
}
.diff-tailwindcss-wrapper .flex-shrink-0,
.diff-tailwindcss-wrapper .shrink-0 {
  flex-shrink: 0;
}
.diff-tailwindcss-wrapper .basis-\[50\%\] {
  flex-basis: 50%;
}
.diff-tailwindcss-wrapper .table-fixed {
  table-layout: fixed;
}
.diff-tailwindcss-wrapper .border-collapse {
  border-collapse: collapse;
}
.diff-tailwindcss-wrapper .origin-center {
  transform-origin: center;
}
.diff-tailwindcss-wrapper .translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
}
.diff-tailwindcss-wrapper .translate-x-\[-50\%\],
.diff-tailwindcss-wrapper .translate-x-\[50\%\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.diff-tailwindcss-wrapper .translate-x-\[50\%\] {
  --tw-translate-x: 50%;
}
.diff-tailwindcss-wrapper .translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.diff-tailwindcss-wrapper .cursor-pointer {
  cursor: pointer;
}
.diff-tailwindcss-wrapper .select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.diff-tailwindcss-wrapper .flex-col {
  flex-direction: column;
}
.diff-tailwindcss-wrapper .items-start {
  align-items: flex-start;
}
.diff-tailwindcss-wrapper .items-center {
  align-items: center;
}
.diff-tailwindcss-wrapper .justify-center {
  justify-content: center;
}
.diff-tailwindcss-wrapper .overflow-x-auto {
  overflow-x: auto;
}
.diff-tailwindcss-wrapper .overflow-y-hidden {
  overflow-y: hidden;
}
.diff-tailwindcss-wrapper .whitespace-nowrap {
  white-space: nowrap;
}
.diff-tailwindcss-wrapper .break-all {
  word-break: break-all;
}
.diff-tailwindcss-wrapper .bg-\[rgb\(222\2c 222\2c 222\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(222 222 222 / var(--tw-bg-opacity));
}
.diff-tailwindcss-wrapper .fill-current {
  fill: currentColor;
}
.diff-tailwindcss-wrapper .p-0 {
  padding: 0;
}
.diff-tailwindcss-wrapper .p-\[1px\] {
  padding: 1px;
}
.diff-tailwindcss-wrapper .px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}
.diff-tailwindcss-wrapper .py-\[2px\] {
  padding-bottom: 2px;
  padding-top: 2px;
}
.diff-tailwindcss-wrapper .py-\[6px\] {
  padding-bottom: 6px;
  padding-top: 6px;
}
.diff-tailwindcss-wrapper .pl-\[1\.5em\] {
  padding-left: 1.5em;
}
.diff-tailwindcss-wrapper .pl-\[10px\] {
  padding-left: 10px;
}
.diff-tailwindcss-wrapper .pl-\[2\.0em\] {
  padding-left: 2em;
}
.diff-tailwindcss-wrapper .pr-\[10px\] {
  padding-right: 10px;
}
.diff-tailwindcss-wrapper .text-right {
  text-align: right;
}
.diff-tailwindcss-wrapper .indent-\[0\.2em\] {
  text-indent: 0.2em;
}
.diff-tailwindcss-wrapper .align-top {
  vertical-align: top;
}
.diff-tailwindcss-wrapper .align-middle {
  vertical-align: middle;
}
.diff-tailwindcss-wrapper .text-\[1\.2em\] {
  font-size: 1.2em;
}
.diff-tailwindcss-wrapper .leading-\[1\.4\] {
  line-height: 1.4;
}
.diff-tailwindcss-wrapper .leading-\[1\.6\] {
  line-height: 1.6;
}
.diff-tailwindcss-wrapper .text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.diff-tailwindcss-wrapper .opacity-\[0\.5\] {
  opacity: 0.5;
}
.diff-tailwindcss-wrapper .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
    var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.diff-tailwindcss-wrapper .transition-transform {
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.diff-tailwindcss-wrapper .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.diff-tailwindcss-wrapper .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.diff-tailwindcss-wrapper .scrollbar-disable::-webkit-scrollbar {
  display: none;
}
.diff-tailwindcss-wrapper .scrollbar-disable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
