@tailwind base;
@tailwind components;
@tailwind utilities;

@layer themes {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --secondary-background: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 14% 3%;
    --foreground: 0 0% 98%;
    --secondary-background: 240 5% 6%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Text utilities */
.title-primary {
  @apply text-neutral-300 text-3xl leading-relaxed;
}
.text-radial-gradient {
  @apply bg-gradient-radial from-[#CA9AF4]/70 to-[#CA9AF4]/0 bg-clip-text text-white/70;
}

.section-title {
  @apply text-3xl text-primary font-normal -tracking-[2%]
}

.section-title-small {
  @apply text-xl text-primary font-normal -tracking-[2%]
}

.section-description {
  @apply text-sm text-[#C9C9CF] font-light
}

/* Card utilities */
.card-auth {
  @apply border-none w-[362px];
}
.card-auth-header {
  @apply p-0 space-x-0 space-y-0;
}
.card-auth-content {
  @apply py-6 w-full;
}

/* Form utilities */
.text-form-error {
  @apply font-light text-red-500 text-xs mt-2;
}
.form-input {
  @apply font-light text-sm w-full mt-1 border-white/10 bg-white/5 rounded-[4px];
  @apply placeholder:text-white/50 !important;
}

/* Navbar utilities */
.navbar-company-avatar {
  @apply w-5 h-5;
}
.navbar-item svg {
  @apply w-3 h-3 ease-in-out duration-150 truncate;
}
.navbar-item.active svg, .navbar-item:hover svg {
  @apply brightness-200 contrast-200;
}
.navbar-item p {
  @apply ease-in-out duration-150 truncate;
}
.navbar-item.active p, .navbar-item:hover p {
  @apply text-primary;
}

/* Navbar company badge */
[data-state='open'] .nav-company-badge-chevron {
  @apply transition-transform transform rotate-180
}
.nav-company-badge-chevron {
  @apply transition-transform transform rotate-0
}
