@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 600; /* Supports weights from 300 to 600 */
  src: url('/fonts/InterVariable.ttf') format('truetype');
}

:root {
  /* PP Figma shades */
  --black: 240 10% 3%;
  --grey-6: 240 8% 6%;
  --grey-8: 240 7% 8%;
  --grey-10: 240 6% 10%;
  --grey-12: 240 6% 12%;
  --grey-15: 240 6% 15%;
  --grey-20: 240 6% 20%;
  --grey-30: 240 6% 30%;
  --grey-40: 240 6% 40%;
  --grey-50: 240 6% 50%;
  --grey-60: 240 6% 60%;
  --grey-70: 240 6% 70%;
  --grey-80: 240 6% 80%;
  --grey-90: 240 6% 90%;
  --grey-94: 240 6% 94%;
  --grey-98: 240 6% 98%;
  --white: 0 0% 100%;

  /* PP Figma secondary colors */
  --mint: 175 60% 65%;
  --blue: 216 80% 65%;
  --orange: 35, 75%, 55%;
  --purple: 275 60% 75%;
  --green: 150, 75%, 65%;
  --red: 0, 80%, 65%;
}

@layer themes {
  /* TODO: replace hsl with variables for theming */
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-background: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-muted: var(--grey-70);
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-background: 0 0% 100%;
    --secondary-muted: var(--grey-40);
    --tertiary: 240 4.8% 95.9%;
    --tertiary-foreground: 240 5.9% 10%;
    --tertiary-background: 240 6% 60%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --border-background: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --input-background: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --success: var(--green);
    --error: var(--red);
    --warning: var(--orange);
    --ai: var(--purple);
  }

  .dark {
    --background: var(--grey-6);
    --foreground: var(--grey-94);
    --card: var(--grey-10);
    --card-foreground: var(--white);
    --popover: var(--grey-10);
    --popover-foreground: var(--white);
    --primary: var(--white);
    --primary-background: var(--black);
    --primary-foreground: var(--grey-10);
    --primary-muted: var(--grey-70);
    --secondary: var(--grey-15);
    --secondary-foreground: var(--white);
    --secondary-background: var(--grey-6);
    --secondary-muted: var(--grey-40);
    --tertiary: var(--grey-12);
    --tertiary-foreground: var(--white);
    --tertiary-background: var(--grey-60);
    --muted: var(--grey-15);
    --muted-foreground: var(--grey-60);
    --accent: var(--grey-15);
    --accent-foreground: var(--white);
    --destructive: var(--red);
    --destructive-foreground: var(--white);
    --border: var(--grey-15);
    --border-background: var(--grey-10);
    --input: var(--grey-15);
    --input-background: var(--grey-10);
    --ring: var(--grey-80);
    --success: var(--green);
    --error: var(--red);
    --warning: var(--orange);
    --ai: var(--purple);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply antialiased text-base;
  }

  body {
    @apply bg-background text-foreground text-sm font-normal;
  }
}

/* Text utilities */
.text-radial-gradient {
  /* remove hardcode colors */
  @apply bg-gradient-radial from-[#CA9AF4]/70 to-[#CA9AF4]/0 bg-clip-text text-primary/70;
}

/* Card utilities */
.card-auth {
  @apply border-none w-[362px];
}
.card-auth-header {
  @apply p-0 space-x-0 space-y-0;
}
.card-auth-content {
  @apply py-6 w-full;
}

/* Form utilities */
.text-form-error {
  @apply font-light text-destructive text-xs mt-2;
}
.form-input {
  @apply font-light text-sm w-full mt-1 border-primary/10 bg-primary/5 rounded-[4px];
  @apply placeholder:text-primary/50 !important;
}

/* Temporary studio controls override */
.react-flow__panel {
  @apply m-6 flex gap-[1px] left-auto right-0 !important;
}
.react-flow__controls-button {
  @apply invert rounded-md !important;
}
